html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    /*
     * El tamaño sigue siendo 16 px pero se actualiza el 
     * rem a 10px en html
     */
}


/*
 * Así no hace falta agregar ese estilo a cada elemento
 * que lo necesite.
 */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.text-center {
    text-align: center;
}

.hero {
    background-image: url(img/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40rem;
    text-align: center;
    width: 100%;
    color: white;
}

.hero__main {
    height: 50%;
}

@media (min-width: 768px) {
    .hero__main {
        display: flex;
        justify-content: space-between;
        /*align-items para alinear elementos verticalmente*/
    }
    .hero__nav {
        display: flex;
    }
}

.hero__title,
.hero__nav {
    margin: 2rem;
    padding: .5rem 1rem;
}

.hero__title {
    color: white;
    font-size: 4rem;
    font-weight: normal;
    /*normal => 400*/
}

.hero__title a {
    text-decoration: none;
    color: white;
}

.hero__title span {
    font-weight: bold;
    /*bold => 700*/
}

.hero__nav {
    list-style: none;
}

.hero__nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 2rem;
    display: block;
}

.hero__nav a:hover {
    text-decoration: underline;
}

.hero__slogan {
    font-size: 4.2rem;
}

.wrapper {
    margin: 1rem;
}

.wrapper__title {
    font-size: 2.5rem;
}

.wrapper__entry {
    margin: 2rem 0;
    /* height: 42rem; */
}

.wrapper__img {
    /* max-height: 30rem; */
    max-width: 100%;
}

.wrapper__subtitle {
    margin: 1.7rem 0;
    font-size: 2rem;
}

.wrapper__description {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}


/* .wrapper__aside {
    height: 15rem;
    position: relative;
} */

.wrapper__button {
    background-color: black;
}

.wrapper__button-workshop {
    background-color: #AC5E52;
}

.wrapper__information {
    font-size: 1.5rem;
    margin: 2.3rem 0;
}

.wrapper__information span {
    font-weight: bold;
}

.wrapper__button,
.wrapper__button-workshop {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 4rem;
        width: 80%;
        margin: 0 auto;
        /* 
         * width: 80%;
         * margin: 0 auto;
         * display: flex;
         * gap: 2rem; 
         */
    }
    .wrapper__button,
    .wrapper__button-workshop {
        display: inline;
    }
}


/**FOOTER**/

footer {
    background-color: black;
}


/**BLOG**/

.container {
    text-align: center;
    margin: 2rem;
}

@media (min-width: 768px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
}

.div-img img {
    width: 100%;
    max-height: 50rem;
    background-size: cover;
}

.blog-info {
    line-height: 3rem;
    text-align: justify;
}